body
{
    font-family: 'Courier New', Courier, monospace;
}

header
{
    text-align: center;
    padding: 10px;
    background-color: rgb(191, 191, 191);
}

header img
{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    margin-bottom: 10px;
}

section
{
    margin: 15px;  
}

#bio, #work
{
    background-color: rgb(191, 191, 191);
    padding: 15px;
}

.project
{
    width: 200px;
    height: 200px;
    border: 1px solid black;
    margin: 10px;
    display: inline-block;
    line-height: 150px;
}

footer
{
    background-color: rgb(191, 191, 191);
    padding: 10px;
    text-align: center;
}