/* Form Pemesanan*/
.wrapper-form-pesan .row {
    margin-top: 20px;
}

.wrapper-form-pesan .col {
    text-align: left;
}

#pemesanan {
    margin-top: 40px;
    border-radius: 10px;
    border: 1px solid rgba(0, 0, 0, 0.125);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    height: 47rem;
    margin-bottom: 40px;
    background-color: rgba(128, 128, 128, 0.06);
}

.wrapper-judul-pesan {
    padding: 10px;
    text-align: center;
}

.wrapper-form-pesan {
    padding: 10px;
    text-align: left;
    margin-top: 35px;
}

.input-group {
    margin-top: 5px;
}

.form-select {
    margin-top: 5px;
}

.btn {
    border-radius: 50px;
    width: 200px;
    background-color: #007bff;
    color: #fff;
    border: none;
    cursor: pointer;
}

#kolom-button {
    text-align: center;
    margin-bottom: 25px;
}

.btn:hover {
    background-color: #0056b3;
}

.btn:active {
    background-color: #004080;
}