.footer {
    background-color: #0080ff;
    color: white;
    padding-top: 20px;
    padding-bottom: 20px;
}

#con-footer {
    height: 200px;
    text-align: center;
}

.footer h5 {
    margin-bottom: 20px;
}

.footer p {
    color: white;
    font-style: italic;
}

.footer ul {
    padding-left: 0;
    list-style: none;
}

.footer ul li {
    margin-bottom: 10px;
}

.footer ul li a {
    color: white;
    text-decoration: none;
}

.footer ul li a:hover {
    text-decoration: underline;
}

.footer h5 {
    color: rgb(147, 238, 147);
}
