#judul-konten {
    margin-top: 30px;
    margin-bottom: 20px;
}

.wrapper-judul-konten .container {
    text-align: center;
    margin-bottom: 25px;
    margin-top: 100px;
}

#konten {
    padding: 20px;
    margin-bottom: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    height: 85rem;
}

#konten .card {
    border: 2px solid black;
    height: auto;
    display: inline-block;
    overflow: hidden;
}

#konten .card-body {
    text-align: left;
    margin-top: 5px;
    height: auto;
    overflow: hidden;
    /* border: 2px  solid black; */
}

.link-konten {
    text-decoration: none;
}

#konten .card-img-active {
    margin-left: 15px;
}

#konten img {
    width: 100%;
    max-height: 250px;
    object-fit: cover;
}

#konten .card {
    border: none;
    overflow: hidden;
}

#col-logo {
    margin-right: -20px;
}

#konten .card .col p {
    font-size: small;
}
