#con-berita {
    margin-top: 80px;
    height: 90rem;
}

.wrapper-judul {
    text-align: center;
}

.col {
    display: flex;
    justify-content: center;
}

#baris-berita {
    margin-top: 30px;
    text-align: justify;
}

.card {
    border: none;
}

.card img {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

footer {
    margin-top: 30px;
}
