/* Form Pemesanan*/
.wrapper-form-pesan .row {
    margin-top: 20px;
}

.wrapper-form-pesan .col {
    text-align: left;
}

#pemesanan {
    margin-top: 40px;
    border-radius: 10px;
    border: 1px solid rgba(0, 0, 0, 0.125);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    height: 47rem;
    margin-bottom: 40px;
    margin-top: 70px;
    background-color: rgba(128, 128, 128, 0.06);
}

.wrapper-judul-pesan {
    padding: 10px;
    text-align: center;
}

.wrapper-form-pesan {
    padding: 10px;
    text-align: left;
    margin-top: 35px;
}

.input-group {
    margin-top: 5px;
}

.form-select {
    margin-top: 5px;
}

.btn {
    border-radius: 50px;
    width: 200px;
    background-color: #007bff;
    color: #fff;
    border: none;
    cursor: pointer;
}

#kolom-button {
    text-align: center;
    margin-bottom: 25px;
    display: block;
}

.btn:hover {
    background-color: #0056b3;
}

.btn:active {
    background-color: #004080;
}

.popup {
    display: none; /* Default tidak ditampilkan */
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border: 1px solid #888;
    background-color: white;
    z-index: 1000;
    width: 300px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
    padding: 20px;
    text-align: center;
}

.popup-content {
    position: relative;
}

.close-btn {
    position: absolute;
    top: 10px;
    right: 15px;
    color: #aaa;
    font-size: 20px;
    cursor: pointer;
}

.close-btn:hover,
.close-btn:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}
