/* TEST (DELETE this optional) */
#con-tentangKami {
    height: 75rem;
}

#con-anggota {
    height: 35rem;
}

.container-fluid {
    padding: 50px 50px;
    margin-top: 80px;
}

.bg-values {
    background-color: var(--bs-dark-rgb);
    border-radius: 15px;
}

/* Aturan gaya untuk layar dengan lebar maksimum 768px (ukuran tablet dan di bawahnya) */
@media screen and (max-width: 768px) {
    .container-fluid {
        padding: 30px;
        /* Misalnya, mengurangi padding untuk layar kecil */
    }
}

/* Aturan gaya untuk layar dengan lebar maksimum 480px (ukuran ponsel dan di bawahnya) */
@media screen and (max-width: 480px) {
    .container-fluid {
        padding: 15px;
        /* Misalnya, mengurangi padding lebih banyak untuk layar sangat kecil */
    }
}

.profile {
    text-align: center;
    margin-bottom: 5px;
}

.profile-icon {
    width: 100px;
    height: 100px;
    margin-bottom: 10px;
}

/* TEST END */

/* Tentang Kami*/
#about-us {
    margin-bottom: 30px;
}

#tentang-kami {
    display: flex;
    padding: 10px;
    align-items: stretch;
    margin-bottom: 90px;
    border-radius: 20px;
    background-color: rgba(128, 128, 128, 0.197);
}

.wrapper-us-flex,
.wrapper-about-flex {
    flex: 1;
    padding: 10px;
    box-sizing: border-box;
}

.wrapper-us-flex img {
    width: 75%;
    border-radius: 40px;
}

#card-about {
    align-items: center;
    text-align: center;
    border: none;
    background-color: rgba(128, 128, 128, 0);
}

#card-about img {
    width: 40%;
}

.animasi {
    margin-left: 150px;
}

/* Footer */

#con-footer {
    position: relative;
    margin-top: 20px;
    background-color: var(--bs-dark-rgb);
}

.wrapper-footer {
    padding: 15px;
}

.wrapper-footer .col {
    text-align: center;
    /* border: 1px solid black; */
    padding: 5px;
}

#footer-judul {
    padding: 10px;
    margin-bottom: 5px;
    color: yellow;
}

#isi-footer,
hr {
    color: white;
}
