html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}
html {
  scroll-behavior: smooth;
}

/* Navbar */

.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
  transition: top 0.3s;
}

.navbar.sticky {
  top: -60px;
}

.navbar-brand {
  padding: 0;
}
.navbar .logo {
  width: 100px; /* Atur lebar gambar */
  height: auto; /* Biarkan ketinggian mengikuti proporsi asli */
  display: block; /* Pastikan gambar muncul sebagai blok */
  margin-bottom: -20px;
  margin-top: -10px;
}

.dropdown {
  margin-right: auto;
  text-align: right;
}

.nav-item {
  margin-left: 50px;
}
.nav-item:hover {
  background-color: grey;
}

/* TEST (DELETE this optional) */
  .container-fluid {
    padding: 60px 50px;
  }

    .bg-values {
    background-color: #f6f6f6;
    border-radius: 15px;
  }

/* Aturan gaya untuk layar dengan lebar maksimum 768px (ukuran tablet dan di bawahnya) */
@media screen and (max-width: 768px) {
  .container-fluid {
    padding: 30px; /* Misalnya, mengurangi padding untuk layar kecil */
  }
}

/* Aturan gaya untuk layar dengan lebar maksimum 480px (ukuran ponsel dan di bawahnya) */
@media screen and (max-width: 480px) {
  .container-fluid {
    padding: 15px; /* Misalnya, mengurangi padding lebih banyak untuk layar sangat kecil */
  }
}

#profile img {
    width: 150px; /* Lebar gambar */
    height: 150px; /* Tinggi gambar */
    object-fit: cover; /* Untuk menjaga aspek gambar */
}

/* TEST END */


/* Tentang Kami*/
#about-us {
  margin-bottom: 30px;
}

#tentang-kami {
  display: flex;
  padding: 10px;
  align-items: stretch;
  margin-bottom: 90px;
  border-radius: 20px;
  background-color: rgba(128, 128, 128, 0.197);
}

.wrapper-us-flex,
.wrapper-about-flex {
  flex: 1;
  padding: 10px;
  box-sizing: border-box;
}

.wrapper-us-flex img {
  width: 75%;
  border-radius: 40px;
}

#card-about {
  align-items: center;
  text-align: center;
  border: none;
  background-color: rgba(128, 128, 128, 0);
}

#card-about img {
  width: 40%;
}

/* Berita */
#judul-berita {
  margin-top: 90px;
  margin-bottom: -30px;
}

.wrapper-judul-berita .container {
  text-align: left;
  margin-top: 25px;
}

#berita {
  padding: 20px;
  margin-bottom: 90px;
}

#berita .card-body {
  text-align: left;
  margin-top: 5px;
  height: 100px;
  overflow: hidden;
}

.link-berita {
  text-decoration: none;
}

#berita .col:hover {
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  cursor: pointer;
  transform: translateY(-2px);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

#berita h5:hover {
  color: rgb(0, 191, 255);
}

#berita .card-img-active {
  margin-left: 15px;
}

#berita img {
  width: 90%;
  max-height: 1000px;
  border-radius: 10px;
}

#berita .card {
  border: none;
  overflow: hidden;
}

/* Footer */

#con-footer {
  position: relative;
  margin-top: 20px;
  background-color: rgb(33 37 41);
}

.wrapper-footer {
  padding: 15px;
}

.wrapper-footer .col {
  text-align: center;
  /* border: 1px solid black; */
  padding: 5px;
}

#footer-judul {
  padding: 10px;
  margin-bottom: 5px;
  color: yellow;
}

#isi-footer,
hr {
  color: white;
}

/* Footer */

#con-footer {
  position: relative;
  margin-top: 20px;
  background-color: rgb(33 37 41);
}

.wrapper-footer {
  padding: 15px;
}

.wrapper-footer .col {
  text-align: center;
  /* border: 1px solid black; */
  padding: 5px;
}

#footer-judul {
  padding: 10px;
  margin-bottom: 5px;
  color: yellow;
}

#isi-footer,
hr {
  color: white;
}
