html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}
html {
  scroll-behavior: smooth;
}

/* Navbar */

.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
  transition: top 0.3s;
}

.navbar.sticky {
  top: -60px;
}

.navbar-brand {
  padding: 0;
}
.navbar .logo {
  width: 100px; /* Atur lebar gambar */
  height: auto; /* Biarkan ketinggian mengikuti proporsi asli */
  display: block; /* Pastikan gambar muncul sebagai blok */
  margin-bottom: -20px;
  margin-top: -10px;
}

.nav-item:hover {
  background-color: grey;
}

.d-flex {
  margin-left: 450px;
}

/* SLIDER */
.carousel {
  width: 80%; /* Lebar slider */
  margin: auto; /* Tengahkan slider */
}

.carousel-inner {
  border-radius: 15px; /* Mengatur tepi (border) menjadi bulat */
  overflow: hidden; /* Menghilangkan bagian yang terpotong jika gambar lebih besar dari kontainer */
  margin-top: 90px;
}

.carousel-item {
  text-align: center; /* Untuk mengatur konten ke tengah */
}

.carousel-item img {
  width: 100%;
  border-radius: 15px;
  max-height: 600px;
}

.carousel-caption {
  opacity: 0;
  transition: 0.8s;
  bottom: 0;
  left: 0;
  right: 0;
}

.carousel-item:hover .carousel-caption {
  opacity: 1;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 0 0 15px 15px;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 10px;
  color: #fff;
}

/* ISI HP */
.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.judul {
  margin-top: 50px;
  margin-bottom: 50px;
  text-align: center;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
}

.content .judul {
  text-align: center;
}

#searchForm {
  display: none;
}
