html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}
html {
  scroll-behavior: smooth;
}

/* Navbar */

.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
  transition: top 0.3s;
}

.navbar.sticky {
  top: -60px;
}

.navbar-brand {
  padding: 0;
}
.navbar .logo {
  width: 100px; /* Atur lebar gambar */
  height: auto; /* Biarkan ketinggian mengikuti proporsi asli */
  display: block; /* Pastikan gambar muncul sebagai blok */
  margin-bottom: -20px;
  margin-top: -10px;
}

.dropdown{
  margin-right: 20px;
  text-align: right;
}

.nav-item:hover {
  background-color: grey;
}

.d-flex {
  margin-left: 450px;
}

/* SLIDER */

.carousel {
  max-width: 80%; /* Maksimum lebar carousel */
  margin: auto;
  position: relative;
  overflow: hidden;
}

.carousel-inner {
  border-radius: 15px;
  overflow: hidden;
  margin-top: 100px;
  position: relative;
}

.carousel-item {
  text-align: center;
  position: relative;
}

.carousel-item img {
  width: 100%;
  border-radius: 15px;
  max-height: 600px;
  transition: transform 0.8s ease;
}

/* .carousel-caption {
  opacity: 0;
  transition: 0.8s;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 0 0 15px 15px;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 10px;
  color: #fff;
} */

/* .carousel-item:hover img {
  transform: scale(1.1); /* Perbesar gambar saat cursor di atasnya 
} */

.carousel-item:hover .carousel-caption {
  opacity: 1;
}

/* Tambahkan animasi untuk menampilkan caption */
.carousel-caption {
  transform: translateY(100%); /* Sembunyikan caption di bawah */
}

.carousel-item:hover .carousel-caption {
  transform: translateY(0); /* Tampilkan caption saat hover */
}

#searchForm {
  display: none;
}

/* Form Control*/

#mulai {
  margin-top: 90px;
  margin-left: 10rem;
  margin-bottom: -20px;
}

.wrapper-mulai {
  width: fit-content;
  background-color: white;
  padding: 5px;
}

#con-form {
  border: 1px solid black;
  max-width: 1200px;
  margin: 0 auto;
  margin-top: 25px;
  border-radius: 10px;
  border: 1px solid rgba(0, 0, 0, 0.125);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.col {
  padding: 5px;
  margin-top: 10px;
  height: auto;
}

#formControl .col {
  border-radius: 10px;
  border: 1px solid rgba(0, 0, 0, 0.125);
  padding: 15px;
  margin: 10px;
  margin-top: 15px;
}

#formControl select.form-select {
  border-radius: 10px;
  border: 1px solid rgba(0, 0, 0, 0.125);
  padding: 10px;
}

#formControl .row > .col#last-col {
  border: none;
  box-shadow: none;
}

#formControl input.form-control {
  border-radius: 10px;
  border: 1px solid rgba(0, 0, 0, 0.125);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 10px;
}

#submit-btn {
  width: 185px;
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 50px;
  cursor: pointer;
}

#submit-btn:hover {
  background-color: #0056b3;
}

#submit-btn:active {
  background-color: #004080;
}

/* Konten */

#judul {
  margin-top: 90px;
  margin-bottom: 110px;
}

.wrapper-judul .container {
  text-align: center;
  width: 1100px;
  margin-top: 25px;
}

.wrapper-card .row {
  padding: 10px;
  padding-left: 20px;
  border-radius: 10px;
  border: 1px solid rgba(0, 0, 0, 0.125);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#card {
  padding: 25px;
  margin-bottom: 90px;
}

/* Tentang Kami*/

#tentang-kami {
  display: flex;
  padding: 10px;
  align-items: stretch;
  margin-bottom: 90px;
}

.wrapper-us-flex,
.wrapper-about-flex {
  flex: 1;
  padding: 10px;
  box-sizing: border-box;
}

.wrapper-us-flex img {
  width: 75%;
}

#card-about {
  align-items: center;
  text-align: center;
  border: none;
}

#card-about img {
  width: 40%;
}

/* Footer */
