html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

html {
  scroll-behavior: smooth;
}

/* Navbar */

.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
  transition: top 0.3s;
}

.navbar.sticky {
  top: -60px;
}

.navbar-brand {
  padding: 0;
}

.navbar .logo {
  width: 100px;

  height: auto;

  display: block;

  margin-bottom: -20px;
  margin-top: -10px;
}

.dropdown {
  margin-right: auto;
  text-align: right;
}

.nav-item {
  margin-left: 50px;
}

.nav-item:hover {
  background-color: grey;
}

/* konten */

#judul-konten {
  margin-top: 90px;
  margin-bottom: -30px;
}

.wrapper-judul-konten .container {
  text-align: center;
  margin-bottom: 25px;
}

#konten {
  padding: 20px;
  margin-bottom: 90px;
}

#konten .card-body {
  text-align: left;
  margin-top: 5px;
  height: 250px;
  overflow: hidden;
}

.link-konten {
  text-decoration: none;
}

#konten .card-img-active {
  margin-left: 15px;
}

#konten img {
  width: 100%;
  max-height: 1000px;
  object-fit: cover;
}

#konten .card {
  border: none;
  overflow: hidden;
}

#col-logo {
  margin-right: -20px;
}

#konten .card .col p {
  font-size: small;
}

/* Footer */

#con-footer {
  position: relative;
  margin-top: 20px;
  background-color: rgb(33 37 41);
}

.wrapper-footer {
  padding: 15px;
}

.wrapper-footer .col {
  text-align: center;

  padding: 5px;
}

#footer-judul {
  padding: 10px;
  margin-bottom: 5px;
  color: yellow;
}

#isi-footer,
hr {
  color: white;
}
